<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-8">
    <app-portal></app-portal>
  </div>

  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-8">
      <app-menu></app-menu>
  </div>
  <div fxFlex="90" fxLayout="row wrap" fxLayoutAlign="end start" class="mt-8">
    <div
      fxFlex="30"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      class="mt-8 bg-white"
    >
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./assets/invioce_new2.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/Kyocera_logo2.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/invioce_new2.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

