<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
  >
    <h5 fxFlex="100" fxLayoutAlign="start center" class="text-corporate">
      Menu
    </h5>
    <div
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="20"
    >
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        *ngFor="let item of menu; let i2 = index"
        class="p-1 card mb-4 btn-custom"
        style="
          width: 100px;
          height: 100px;
          border: 2px solid;
          border-radius: 15px;
        "
        (click)="handleLink(item.url)"
      >
        <img [src]="item.logo" style="width: 50px; height: 50px" />
        <span
          fxFlex="100"
          class="sub-text text-center font-bold text-uppercase text-blue-700 mt-1"
        >
          {{ item.name }}
        </span>
      </div>
    </div>
  </div>
</div>
